__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/
build/
dist/
notebooks/*.tsv
notebooks/*.csv
notebooks/data/
notebooks/af_data/
notebooks/aligned/
notebooks/pocket_out/
notebooks/cdk20_af_data/
notebooks/cdk_paralogs_af_data/
notebooks/cdk_paralogs_aligned/
notebooks/cdk_paralogs_chembl_data/
notebooks/cdk_paralogs_pdb_data/
